{% extends 'base.html.twig' %}

{% block body %}
    {{ component('navbar') }}
    <br>
    <div class="admin-container">
        <div class="container admin-container-left">
            <span>
             <a href="{{ path('select-users', {type: 'customer'}) }}">
                <button type="button" class="btn btn-primary">Clients</button>
            </a>
                <a href="{{ path('select-users', {type: 'maintainer'}) }}">
                <button type="button" class="btn btn-primary">Techniciens</button>
            </a>
            </span>
            {% for user in users %}
                <a href="{{ path('customer-view', {type: user.roles[0], idCustomer: user.id}) }}">
                    <h6>{{ user.username }}</h6>
                </a>
            {% endfor %}
        </div>
        <div class="container admin-container-right">
            {% for ticket in tickets %}
                {{ component('admin-intervention-row', {
                    id: ticket.id,
                    date: ticket.date,
                    title: ticket.title,
                    description: ticket.description
                }) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}