{% extends 'base.html.twig' %}

{% block body %}
    {{ component('navbar') }}

    <br>
    <div class="ticket-form">
        {{ form_start(form) }}
        <h1>Demande d'intervention sur {{ machine }}</h1>
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
    <button type="submit">Envoyer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}