{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('create-ticket', {'idMachine': machine.id}) }}">
        <button>Demander une intervention</button>
    </a>
    <div>
        {#
            Prévoir la div de l'image
            <div></div
        #}
        <div>
            <ul>
                <li>Code : {{ machine.code }}</li>
                <li>Marque : {{ machine.brand }}</li>
                <li>Modèle : {{ machine.name }}</li>
                <li>Catégorie : {{ machine.category }}</li>
            </ul>
        </div>
    </div>
    <div>
        <h3>Historique des interventions</h3>
        {% for ticket in tickets %}
            {{ component('intervention-row', {
                id: ticket.id,
                date: ticket.date,
                title: ticket.title,
                description: ticket.description
            }) }}
        {% endfor %}
    </div>
{% endblock %}