{% extends 'base.html.twig' %}

{% block body %}
    {{ component('navbar') }}
    <br>
    <div class="container">
        <a class="intervention-button" href="{{ path('create-ticket', {'idMachine': machine.id}) }}">
            <button type="button" class="btn btn-danger">Demander une intervention</button>
        </a>
        <br>
        <img src="/build/img/{{ machine.image }}">
        <div>
            <ul>
                <li>Code : {{ machine.code }}</li>
                <li>Marque : {{ machine.brand }}</li>
                <li>Modèle : {{ machine.name }}</li>
                <li>Catégorie : {{ machine.category }}</li>
            </ul>
        </div>
        <div>
            <h3>Historique des interventions</h3>
            {% for ticket in tickets %}
                {{ component('intervention-row', {
                    id: ticket.id,
                    date: ticket.date,
                    title: ticket.title,
                    description: ticket.description
                }) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}