<div class="machine-card">
<a
        href="{{ path('machine-detail', {'id': id}) }}">
    <div>
        <img src="/build/img/{{ image }}">
        <h1>{{ code }} ({{ brand }})</h1>
        <span>{{ category }}</span>
    </div>
</a>
</div>