<a
        href="{{ path('machine-detail', {'id': id}) }}">
    <div>
        <img src="/build/img/{{ image }}">
        <h1>{{ code }} ({{ name }})</h1>
        <h3>{{ brand }}</h3>
        <span>{{ category }}</span>
    </div>
</a>